@page "/"
@model ScreenStreamer.Pages.ScreenStream

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height: 100%;">
<head>
    <title>Screen Stream</title>
    <style>
        body {
            margin: 0; 
            padding: 0;
            max-height: 100%;
        }
    </style>
</head>
<body style="height: 100%;">
<div style="height: 100%;">
    <div id="screenshot-wrapper" style="height: 100%;">
        <img id="screenshot" style="max-height: 100%; max-width: 100%;">
    </div>

    <script src="~/node_modules/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script>        
    // const pauseInput = document.getElementById("pause-input");
    const screenshotImg = document.getElementById("screenshot");
    
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/hubs/screenstream")
        .build();
    
    connection.start().then(() => {
        connection.stream("GetScreenshotsReader").subscribe({
            next(item) {
                screenshotImg.src = item;
            },
            error(err) {
                throw err;
            }
        });
    });
    // const fps = 3;
    //
    // let i = 0;
    //
    // setInterval(() => {
    //    
    //     if (i === 0) {
    //         scrollTo(0, 0);
    //         i++;
    //     }
    //    
    //     const isPause = pauseInput.checked;
    //     if (isPause) {
    //         return;
    //     }        
    //    
    //     screenshotImg.setAttribute("src", Math.random().toString());
    //     screenshotImg.setAttribute("src", "/api/screen?" + Math.random().toString());
    // }, 1000 / fps);
    
    </script>
</div>
</body>
</html>